/* ============================================================================
    #GENERAL
============================================================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: transparent;
    outline-color: transparent;
  }

  html, body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  img, svg {
    max-width: 100%;
    display: block;
  }

  .wrapper {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .container {
    max-width: 1260px;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }

.main {
  flex: 1 1 auto;
}





/* ============================================================================
    #OTHER
============================================================================ */

.header {
  border-bottom: 2px solid black;
}

.header__container {
  display: flex;
  justify-content: center;
}

.h1 {
  font-weight: 300;
}

.app {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  margin-bottom: 15px;
  display: grid;
  grid-template: repeat(4, 80px) / repeat(4, 80px);
  gap: 15px;
}

.list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  outline: 2px solid black;
  cursor: pointer;
  transform: scaleX(-1);
  transition: transform 0.5s ease, color 0.1s cubic-bezier(.95,0,1,.05), box-shadow 0.2s ease;
  color: rgba(1, 1, 1, 0);
  user-select: none;
}

.list__card:not(.selected, .yes):hover {
  box-shadow: 5px -5px 0px black;
}

.selected {
  transform: scaleX(1);
  color: rgba(1, 1, 1, 1);
}

.yes {
  transform: scaleX(1);
  color: rgba(1, 1, 1, 1);
}

.button {
  padding: 12px 30px;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.button:hover {
  transform: translate(2px, 2px);
}

.timer {
  margin-bottom: 15px;
  font-size: 24px;
}



@media (max-width: 480px) {
  .list {
    grid-template: repeat(4, 60px) / repeat(4, 60px);
  }
  .list__card:not(.selected, .yes):active {
    box-shadow: 5px -5px 0px black;
  }
  .list__card:not(.selected, .yes):hover {
    box-shadow: none;
  }
}

